In [105]:
# Dependencies
import pandas as pd
import numpy as np
from numpy import NaN
import matplotlib.pyplot as plt

In [106]:
# Extracting Data from CSV to Jupyter-Notebook
prices_file = "Resources/prices.csv"
places_file = "Resources/places.csv"
prices_df = pd.read_csv(prices_file)
places_df = pd.read_csv(places_file)

In [107]:
# Cleaning Columns on Prices DataFrame
prices_df = prices_df.drop('places', axis = 1)
prices_df = prices_df.drop('place', axis = 1)
prices_df

       place_id  gas_price     type
0       11703.0      18.69  regular
1           NaN      19.69  premium
2       11702.0      18.19  regular
3           NaN      19.79  premium
4           NaN      18.25   diesel
...         ...        ...      ...
33210       NaN      19.59  premium
33211       NaN      18.60   diesel
33212    2807.0      17.99  regular
33213    2807.0      19.99  premium
33214    2807.0      18.69   diesel

[33215 rows x 3 columns]

In [108]:
# Creating a column to replace NaNs with Places_ID
Place_ID = prices_df['place_id'].fillna(method='ffill')
# Adding Column to existing prices DataFrame
prices_df['Place_ID'] = Place_ID
# Eliminating original place_id from DataFrame
prices_df = prices_df.drop('place_id', axis = 1)
# Rearrange DataFrame
prices_df = prices_df[['Place_ID','gas_price','type']]
# Rename Place_ID
prices_df.columns = ['_place_id', 'gas_price','type']
prices_df

       _place_id  gas_price     type
0        11703.0      18.69  regular
1        11703.0      19.69  premium
2        11702.0      18.19  regular
3        11702.0      19.79  premium
4        11702.0      18.25   diesel
...          ...        ...      ...
33210    11704.0      19.59  premium
33211    11704.0      18.60   diesel
33212     2807.0      17.99  regular
33213     2807.0      19.99  premium
33214     2807.0      18.69   diesel

[33215 rows x 3 columns]

In [109]:
# Merging DataFrames
Gas_Stations_df = pd.merge(places_df, prices_df, on="_place_id")
Gas_Stations_df

,name,cre_id,location/x,location/y,_place_id,gas_price,type
0,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,-116.92140,32.47641,2039,17.39,regular
1,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,-116.92140,32.47641,2039,19.35,premium
2,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,-116.92140,32.47641,2039,18.45,diesel
3,"DIGEPE, S.A. DE C.V. (07356)",PL/902/EXP/ES/2015,-99.74484,20.30370,2040,18.65,regular
4,"DIGEPE, S.A. DE C.V. (07356)",PL/902/EXP/ES/2015,-99.74484,20.30370,2040,18.99,premium
...,...,...,...,...,...,...,...
33210,GRUPO GASOLINERO DEL DIAMANTE HOLZ SA DE CV,PL/23508/EXP/ES/2020,-103.40990,22.83751,27300,18.59,premium
33211,GRUPO GASOLINERO DEL DIAMANTE HOLZ SA DE CV,PL/23508/EXP/ES/2020,-103.40990,22.83751,27300,18.89,diesel
33212,JAGREGAS 2 S.A. DE C.V.,PL/23510/EXP/ES/2020,-100.41290,20.67198,27304,16.99,regular
33213,JAGREGAS 2 S.A. DE C.V.,PL/23510/EXP/ES/2020,-100.41290,20.67198,27304,17.30,premium
33214,JAGREGAS 2 S.A. DE C.V.,PL/23510/EXP/ES/2020,-100.41290,20.67198,27304,17.41,diesel